<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-nav">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.png", alt: "logo-navbar", width: 100 %>
        </a>
      </div>

      <button class="hamburger hamburger--emphatic" type="button">
        <span class="hamburger-box navbar-toggler-icon">
        <span class="hamburger-inner"></span>
        </span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="www.flovelle.com"></a>
        </li>
        <li class="nav-item">
          <a href="vanlords.herokuapp.com"></a>
        </li>
        <li class="nav-item">
          <a href="cocktail-bonanza.herokuapp.com/"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
