.companies-container {
  display: flex;
}

.logo img{
  width: 60%;
}

.logo {
  text-align: center;
}

.header-companies {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: $my-green;

  font-size: 24px;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center;
}

.header-companies h2 {
  text-align: right;
  font-weight: 600;
  padding-right: 15px;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-category:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.line {
  margin: 50px;
}

.line hr {
  width:30% !important;
  margin:30px auto !important;
  color: $my-green !important;
  border: 1px solid #767c77;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
