.footer {
  width: 16vw;
  margin: 60px auto;
  display: flex;
  justify-content: center;
  border-radius: 40px;

}

.footer > header {
  font-size: 16px;
  font-weight: lighter;
}


.footer > div {
    height: 0;
    width: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    transition: 500ms background-color linear;
    font-size: 1.2em;
    cursor: default;
}

.footer:hover > div {
  background-color: $my-green;
  width: 10vw;
  height: 150px;
  opacity: 1;
  padding: 22px 50px 22px 50px;
  animation: 240ms item-fade-in linear forwards;
  animation-delay: 120ms;
  transition: 120ms background-color linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer:hover {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer:hover img{
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}

#email {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.fas.fa-envelope-open-text {
  font-size: 30px;

}

i {
  font-size: 20px;
}
