@media (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .profile-container.green-container {
    display: block;
    align-items: left;
    justify-content: left;
  }

  .green-container.col-sm-12.col-lg-11.offset-md-1 {
    left: 0px;
  }

  .main-title {
    width: 100%;
  }

  .profile-container {
    padding-left: 0px;
    padding-right: 0px;
  }

 .my-description p, .my-description h2  {
   text-align: left;
 }

#description-me {
  width: 100%;
}

 .my-description h2 {
   font-size: 25px;
 }

.introduction {
   display: block;
   width: 100%;
 }
}



// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

  .project-details h1{
    font-size: 60px;
  }
  .project-triangle {
    display: none;
  }

  .header-companies h2{
    font-size: small;
  }

  #stensil {
    display: none;
  }

  .headshot img {
    display: none;
  }
}