@media (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr !important;
    margin: 10px;
  }

  .project-list h1 {
    font-size: 60px !important;
  }

  .profile-container.green-container {
    display: block;
    align-items: left;
    justify-content: left;
  }

  .green-container.col-sm-12.col-lg-11.offset-md-1 {
    left: 0px;
  }

  .main-title {
    width: 100%;
  }

  .main-title h1 {
    font-size: 6vh;
  }

  .top-container {
    align-items: flex-start !important;
  }

  .profile-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .triangle-container {
    height: 35vh !important;
  }

 .my-description p, .my-description h2  {
   text-align: left;
 }

#description-me {
  width: 100%;
  padding: 10px;
}

 .my-description h2 {
   font-size: 25px;
 }

.introduction {
   display: block;
   width: 100%;
 }

 .headshot img {
   width: 30vw !important;
 }

 .intro-cards {
  margin-top: 0px !important;
  }

  .logo img {
    width: 90% !important;
  }

}



// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

  .project-details h1{
    font-size: 60px;
  }
  .project-triangle {
    display: none;
  }

  .header-companies h2{
    font-size: 15px !important;
  }

  #stensil {
    display: none;
  }

}